<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="alipay_section" sortOrder="9" showInDefault="0" showInWebsite="0" showInStore="0">
                <group id="alipay" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alipay</label>
                    <comment><![CDATA[Accept credit/debit cards and PayPal in your Magento store.<br/>No setup or monthly fees and your customers never leave your store to complete the purchase.]]></comment>
                    <fieldset_css>complex alipay-section</fieldset_css>
                    <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <attribute type="activity_path">payment/alipay/active</attribute>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable AliPay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/alipay/active</config_path>
                        <requires>
                            <group id="alipay_credentials"/>
                        </requires>
                    </field>
                    <group id="alipay_credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Credentials</label>
                        <field id="app_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>App Id</label>
                            <config_path>payment/alipay/app_id</config_path>
                        </field>
                        <field id="merchant_private_key" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Merchant Private Key</label>
                            <config_path>payment/alipay/merchant_private_key</config_path>
                        </field>
                        <field id="alipay_public_key" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Alipay Public Key</label>
                            <config_path>payment/alipay/alipay_public_key</config_path>
                        </field>
                        <field id="sign_type" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sign Type</label>
                            <source_model>Dingwen\Alipay\Model\Config\Source\SignType</source_model>
                            <config_path>payment/alipay/sign_type</config_path>
                        </field>
                        <field id="sandbox" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sandbox</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/alipay/sandbox</config_path>
                        </field>
                        <!--<field id="js_origin" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Allowed Javascript Origins</label>
                            <frontend_model>Amazon\Core\Block\Adminhtml\Form\Field\JsOrigin</frontend_model>
                        </field>
                        <field id="redirect_url" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Allowed Return URLs</label>
                            <frontend_model>Amazon\Core\Block\Adminhtml\Form\Field\RedirectUrl</frontend_model>
                        </field>
                        <field id="ipn_url" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>IPN URL</label>
                            <frontend_model>Amazon\Core\Block\Adminhtml\Form\Field\IpnUrl</frontend_model>
                        </field>-->
                    </group>
                    <!--<group id="options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Options</label>
                    </group>-->
                </group>
            </group>
        </section>
    </system>
</config>
